body {
	font-family: 'Barlow Condensed', sans-serif;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 1;
	font-size: 1.2rem;
}

.navbar-brand {
	font-family: 'Viga', sans-serif;
	font-size: 2rem;
}

.jumbotron {
	background-image: url('/images/cosmofitnesshero.jpg');
	background-size: cover;
	height: 55vh;
	background-position: center;
}

.jumbotron .slogan-1 {
	color: white;
	font-size: 64px;
}

.jumbotron h1 {
	margin: 30px 0;
	line-height: 1.5;
}

.jumbotron a {
	font-size: 2rem;
}

.content-style {
	padding: 50px 0; /* 50px top and bottom, 0px left and right */
	min-height: 200px;
}

.img-style {
	width: 35%;
	height: auto;
	border-color: gray;
	border-radius: 25%;
	border-width: 5px;
}

#carousel-font-size h3 {
	font-size: 2rem;
	font-weight: bold;
}

#carousel-font-size p {
	font-size: 1.25rem;
	color: grey;
}
