body {
	font-family: 'Barlow Condensed', sans-serif;
	background-color: #f0ebe3;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 1;
	font-size: 1.2rem;
	background-color: #ffc54d;
}

.navbar-brand {
	font-family: 'Viga', sans-serif;
	font-size: 2rem;
}

.jumbotron {
	background-size: cover;
	height: 50vh;
	background-position: center;
}

.slogan-1 {
	color: #f0ebe3;
	text-shadow: 1px 2px 4px #000 !important;
	font-size: 65px;
	text-transform: uppercase;
	letter-spacing: 4px;
}

.jumbotron h1 {
	line-height: 1.5;
}

.jumbotron a {
	font-size: 3rem;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

#memberjumbotron {
	background-image: url('/img/memberships.jpg');
	background-size: cover;
	background-position: center;
}

#classjumbotron {
	background-image: url('/img/classes.jpg');
	background-size: cover;
	background-position: center;
}

#amenitiesjumbotron {
	background-image: url('/img/amenities.jpg');
	background-size: cover;
	background-position: center;
}

#aboutjumbotron {
	background-image: url('/img/about.jpg');
	background-size: cover;
	background-position: center;
}

#classescf {
	width: 50%;
	height: 50%;
}

.card {
	border: 1px solid #888;
	transition: box-shadow 0.4s;
}

.card:hover {
	box-shadow: 10px 15px 10px #888;
}

.content-style {
	padding: 50px 0;
	/* 50px top and bottom, 0px left and right */
	min-height: 200px;
}

.img-style {
	width: 35%;
	height: auto;
	border-color: gray;
	border-radius: 25%;
	border-width: 5px;
}

#carousel-font-size h3 {
	font-size: 2rem;
	font-weight: bold;
}

#carousel-font-size p {
	font-size: 1.25rem;
	color: grey;
}

.carousel-caption {
	color: #f0ebe3;
	text-shadow: 1px 2px 4px #000 !important;
}

.carousel {
	border: solid #ffc54d;
}

/* About section */
#ALL-about-styling a {
	color: #000;
}

#ALL-about-styling a {
	color: inherit;
}

#cards .card {
	padding: 10px 0;
	margin: 5px 0;
}

.card-bottom {
	border-bottom: 1px solid;
	color: black;
}

#cards h5 {
	font-size: 1.3rem;
	font-weight: bold;
}

/* ALL footer sections */
.icon-style {
	color: white;
	font-size: 30px;
}

.icon-style:hover {
	color: #ffc54d;
}

/* Scroll to top button */
#btn-back-to-top {
	background-color: #343a40;
	border: 1px black solid;
	border-radius: 25px;
	color: black;
	cursor: pointer;
	font-size: 18px;
	line-height: 36px;
	width: 48px;
}

#btn-back-to-top:hover {
	color: #ffc54d;
}
