body {
	font-family: 'Barlow Condensed', sans-serif;
	background-color: #F0EBE3;
}

.navbar {
	position: sticky;
	top: 0;
	z-index: 1;
	font-size: 1.2rem;
}

.navbar-brand {
	font-family: 'Viga', sans-serif;
	font-size: 2rem;
}

.jumbotron {
	background-image: url('/img/cosmofitnesshero.jpg');
	background-size: cover;
	height: 50vh;
	background-position: center;
}

.jumbotron .slogan-1 {
	color: white;
	font-size: 64px;
}

.jumbotron h1 {
	margin: 30px 0;
	line-height: 1.5;
}

.jumbotron a {
	font-size: 2rem;
}

.row-content {
	padding: 50px 0;
	border-bottom: 1px ridge;
	min-height: 200px;
}

#memberjumbotron {
	background-image: url('/img/memberships.jpg');
	background-size: cover;
	height: 30vh;
	background-position: center;
}

#classjumbotron {
	background-image: url('/img/classes.jpg');
	background-size: cover;
	height: 30vh;
	background-position: center;
}

#amenitesjumbotron {
	background-image: url('/img/amenites.jpg');
	background-size: cover;
	height: 30vh;
	background-position: center;
}

#aboutjumbotron {
	background-image: url('/img/amenites.jpg');
	background-size: cover;
	height: 30vh;
	background-position: center;
}

.content-style {
	padding: 50px 0;
	/* 50px top and bottom, 0px left and right */
	min-height: 200px;
}

.img-style {
	width: 35%;
	height: auto;
	border-color: gray;
	border-radius: 25%;
	border-width: 5px;
}

#carousel-font-size h3 {
	font-size: 2rem;
	font-weight: bold;
}

#carousel-font-size p {
	font-size: 1.25rem;
	color: grey;
}

#classescf {
	width: 50%;
	height: 50%;
}